---
---

@import "{{ site.theme  }}";

body {
  background-color: #fff;
  padding:50px;
  font: 16px/1.5 Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:300;
}

#intro {
    margin: 0 0 150px;
}
blockquote {
border-left:1px solid #e5e5e5;
margin:0;
padding:0 0 0 20px;
font-style:normal;
}


header {
  position: static;
  margin: 0 0 0 40px;
}
footer {
    position:static;
}
